
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
 
body {
  margin: 0;
  font-family: 'Akronim';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #A7A4AB;
}
body, html {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
